.img {
    background-image: url(../../img/home.jpg);
    z-index: -3;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.container {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    height: 100%;
    width: 100%;
}

.filter {
    display: grid;
    grid-template-rows: 1fr 1fr 2fr 2fr;
    height: 100%;
    width: 100%;
   
}
.search {
    margin: auto;
    
}
.create {
   
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    /* background-color: #0f4c75; */
    border-radius: 15px;
    padding: 10px;
    color: white;

    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);

    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
.button_charge {
    display: inline;
    margin: auto;
    display: inline-block;
    text-decoration: none;
    padding: 0.375rem 0.75rem;
    border: 1px solid #007bff;
    border-radius: 0.25rem;
    color: #007bff;
    transition: color 0.15s ease-in-out;
}
.button_charge:hover,
.button:active,
.button:focus {
    color: #fff;
    background-color: #007bff;
}


.order {
    display: flex;
    margin: auto 0;
    /*   background-color: #0f4c75; */
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
.Filter_name {
    color: white;
    margin: auto;
}
.Buttons_filter select {
    display: flex;
    justify-content: space-around;
    margin: 10px;
    appearance: none;

    display: inline-block;
    width: 90%;
    cursor: pointer;
    padding: 7px 6px;
    height: 35px;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: #f0f0f0;
    color: #7b7b7b;
    font-size: 1em;
    color: #007bff;
    font-family: "Quicksand", sans-serif;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    position: relative;
    transition: all 0.25s ease;
}
.Buttons_filter select:hover {
    background: #bbe1fa;
}
.Buttons_filter select::-ms-expand {
    display: none;
}
.Buttons_filter {
    max-width: 250px;
    position: relative;
}

.checkbox {
    /*  border: 1px solid black; */
    /*   display: flex;
      justify-content: space-around;
     flex-wrap: wrap;
     order:2; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /*  background-color: #0f4c75; */
    border-radius: 15px;
    color: white;
}

.individual_check {
    border-radius: 2px;
    /*  border: 1px solid white; */
    
    padding: 10px;
    margin: 5px;
    position: relative;
    bottom: 10px;
    /* background-color: #3282b8; */
    border-radius: 15px;
    font-size: 1.2vw;
    background: rgba( 255, 255, 255, 0.25 );box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );backdrop-filter: blur( 20px );-webkit-backdrop-filter: blur( 20px );border-radius: 10px;border: 1px solid rgba( 255, 255, 255, 0.18 );
    height: 100px;
}
.countries {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    padding: 5px;
    
}

.paginado {
    border-radius: 10px;

    padding: 5px;
    margin: 4px 0;
}

.country {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    justify-content: space-evenly;
    row-gap: 1vw;
}
