@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400&display=swap');
.all {
     /*  display: flex; */
   /*  border: 1px solid black; */
    width: 16vw;
    height: 15vw;
    border-radius: 40px;
    position: relative;
    box-shadow: -20px -60px 10px  rgba(15, 76, 117, 0.4)/*  #F3A31B */ inset;
    text-decoration: none;
   
}

.letras{
      text-decoration: none;
      color: black;
    
}
.country {
  /*   border: 1px solid black; */
    display:flex;
    position: absolute;
    top:0vw;
    left:1vw;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.4vw;
      color: white;
}
.region {
      display: flex;
      position: absolute;
      top: 6vw;
      left: 1vw;
      z-index: 2;
      font-family: 'Dosis', sans-serif;
      font-size: 1.2vw;
      color: white;
}

.image {
    opacity: 0.5  ;
    /* zoom:250%; */
      position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 40px;
    z-index: -1;
   
}




