h1 {
    color: white;
}
.img {
    background-image: url(../../img/activity.jpg);
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.return {
    position: relative;
    left: 20vw;
    border-radius: 10px;
    background-color: #bbe1fa;
    padding: 0.375rem 0.75rem;
    border: 1px solid #007bff;
    border-radius: 0.25rem;
    color: #007bff;
    transition: color 0.15s ease-in-out;
}
.return:hover,
.return:active,
.return:focus {
    color: #fff;
    background-color: #007bff;
}

.form {

    display: grid;
    grid-template-rows: 2fr 2fr 2fr 2fr 1fr 2fr;

    position: relative;
    margin: auto;
  
}
.name {
    color: white;
    display: flex;
    justify-content: center;
    margin: 2vw;
}
.difficulty {
    color: white;
   
    position: relative;
    top: 0.5vw;
}
.duration {
    color: white;
   
}
.season {
    color: white;
  
}
.select_countries {
    margin: auto;
}
.button {
    display: inline;
    margin: auto;
    display: inline-block;
    text-decoration: none;
    padding: 0.375rem 0.75rem;
    border: 1px solid #007bff;
    border-radius: 0.25rem;
    color: #007bff;
    transition: color 0.15s ease-in-out;
}
.button:hover,
.button:active,
.button:focus {
    color: #fff;
    background-color: #007bff;
}
.danger {
    color: red;
    margin:0;
}
.continue{
    color:green;
    margin:0;
}

.create {
    position: relative;
    right: 500px;
    bottom: 500px;
    color: white;
    font-size: 20px;
}
.create_individual {
    margin: 20px;
}
.create_delete {
    box-shadow: none !important;
    outline: none;
    border: none;
    background: none;
}
