@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
.img {
    background-image: url(../../img/detail.jpg);
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
    width: 100%;
    height: 100vh;
    top: -70px;
    left: 0;
    bottom: 0;
    right: 0;
}
.container {
    position: relative;
    top: 70px;
    color: white;

    text-decoration: none;

    display: flex;
    flex-direction: column;
}
/* .all {
    
} */
.return {
    text-decoration: none;
    padding: 0.375rem 0.75rem;
    border: 1px solid #007bff;
    border-radius: 0.25rem;
    color: #007bff;
    transition: color 0.15s ease-in-out;
    position: relative;
    left: 200px;
}
.return:hover,
.button:active,
.button:focus {
    color: #fff;
    background-color: #007bff;
}

.image {
    opacity: 0.5;

    z-index: -1;

    width: 80%;
    height: 200px;

    border-radius: 40px;
}
.container2 {
    width: 80%;
    height: 500px;
    margin: auto;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.information {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 19px;
}

.name {
    font-size: 40px;
    font-family: "Source Sans Pro", sans-serif;
}

/* .activity {
   
} */

.activity2 {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 50%;
    position: relative;
    left: 100px;
    font-family: "Source Sans Pro", sans-serif;
}
