
.controls{
	color:white;
	position:relative;
	top:2px;
	display:flex;
	justify-content: space-evenly;
	justify-items: space;
  font-size: 1.1rem;
}

.button{
	display: inline;
	margin: auto;
	display: inline-block;
    text-decoration: none;
    padding: .175rem .55rem;
    border: 1px solid #007bff;
    border-radius: .25rem;
    color: #007bff;
    transition: color .15s ease-in-out,
}
.button:hover, .button:active, .button:focus{
      color: #fff;
  background-color: #007bff;
}